
      <div class="footer">
    <ul>
      <li><a><i class= "fa fa-youtube"></i></a></li>
      <li><a><i class= "fa fa-instagram"></i></a></li>
      <li><a><i class= "fa fa-facebook"></i></a></li>
      <li><a><i class= "fa fa-twitter"></i></a></li>
    </ul>
      <p> This is a Airbnb Home challenge Made by Alberto Aldana @LeWagon</p>
      </div>
      </div>
